asgiref==3.2.10
beautifulsoup4==4.9.3
boto3==1.15.6
botocore==1.18.6
chainmap==1.0.3
combomethod==1.0.12
dj-database-url==0.5.0
Django==3.0
django-bootstrap4==2.3.0
django-braces==1.14.0
django-ckeditor==6.0.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-storages==1.10.1
django-widget-tweaks==1.4.8
gunicorn==20.0.4
jmespath==0.10.0
nulltype==2.3.1
options==1.4.10
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
selenium==3.141.0
six==1.12.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
whitenoise==5.2.0
