{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
	<section>
		<table class="table">
			<thead class="thead-dark">
				<th><h5>Título</h5></th>
				<th><h5>Painel</h5></th>
				<th><h5>Mais</h5></th>
			</thead>
			<tbody>
			<h5>{% for artigo in artigos %}</h5>
					<tr>
						<th><h5>{{ artigo.artigoTitulo }}</h5></th>
						<th><h5>{{ artigo.artigoSubtitulo }}</h5></th>
						<th><a href="/artigoVisualizacao/?id={{ artigo.id }}"><h5>Visualização</h5></th>
					</tr>
					{% endfor %}
			</tbody>
   		 </table>
	</section>







</div>
{% endblock %}s
