{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
	<section>
		<br>
		{% for artigo in artigos %}
	<div class="card">
	  <h5 class="card-header">{{ artigo.artigoTitulo }}</h5>
	  <div class="card-body">
		<h5 class="card-title">{{ artigo.artigoSubtitulo }}</h5>
<!--		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
		  <div align="right">
			  <h4>
				  <a href="/artigoVisualizacao/?id={{ artigo.id }}" class="btn btn-primary">Ler</a>
			  </h4>

		  </div>
	  </div>
	</div>
		{% endfor %}
	</section>
</div>
{% endblock %}s
