


<style>
	.banner {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(159,0,255,1) 50%, rgba(9,0,0,1) 100%)+;
  color: white;
}
	.nomeSistema{
	color: white;
	}
	.fundoBanner{
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(159,0,255,1) 50%, rgba(9,0,0,1) 100%); ;

	}
}
</style>





<div class="fundoBanner">
	<div class="container">
		<section>
			<div class="banner">
				<br><br>
				<div class="nomeSistema" align="center">
					<h1><strong>ADS - Cloud</strong></h1>
				</div>
				<br>
				<div align="center">
					<h3>Sistemas Inteligentes</h3>
				</div>
				<br><br>
			</div>
		</section>
	</div>
</div>



