{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
	<section>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Equipamento</th>
					<th>Sistema</th>
					<th>Login</th>
					<th>Senha</th>
					<th>QrCode</th>
					<th>Opções</th>


				</tr>
			</thead>
			<tbody>
			{% for equipamento in equipamento %}
				<tr>
					<td>{{ equipamento.equipamento }}</td>
					<td>{{ equipamento.equipamentoSistema }}</td>
					<td>{{ equipamento.equipamentoLogin }}</td>
					<td>{{ equipamento.equipamentoPassword }}</td>
					<td>{{ equipamento.equipamentoQrCode }}</td>
<!--					<td><a href="/clienteEquipamentosInformacoes/?id={{ cliente.id }}">Mais</td>-->
					<td><a href="/clienteEquipamentosInformacoes/?id={{ equipamento.id }}"> Mais</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>







	</section>
</div>
{% endblock %}
