{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<section>
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<td>Nome</td>
				<td>Gerência(a)</td>
				<td></td>
				<td>Opções</td>
				<td>Mais</td>
			</tr>
		</thead>
		<tbody>
			{% for cliente in clientes %}
			<tr>
				<th>{{ cliente.clienteNome }}</th>
				<th>{{ cliente.clienteAdministrador }}</th>
				<th></th>
				<th><a href="/clientesInformacoes/?id={{ cliente.id }}"> Informações </th>
				<th><a href="/clienteEquipamentos/?id={{ cliente.id }}"> Equipamentos </th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</section>
</div>
{% endblock %}
