{% extends "base.html" %}
{% load static %}
{% block content %}

<div class = "container-xl" >
    <br>
    <div align="center" style="color: purple">
        <h4>{{ equipamento.equipamento }}</h4>
    </div>
    <div style="color: #70606f">
        <h6><strong>Sistema:</strong> {{ equipamento.equipamentoSistema }}</h6>
        <h6><strong>Login:</strong> {{ equipamento.equipamentoLogin }}</h6>
        <h6><strong>Senha:</strong> {{ equipamento.equipamentoPassword }}</h6>
        <h6><strong>QRcode:</strong> {{ equipamento.equipamentoQrCode }}</h6>
    </div>
        <br>
    <h5 style="color: purple"><strong>Informações:<strong></h5>
    <hr>
        <p>{{ equipamento.equipamentoObservacao | safe}}</p>

    <br><br>
</div>
{% endblock %}