{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
    <section>
        <br>
        <div>
        <h4 class="border-bottom" >
            <a class="font-weight-bold" style="color: purple">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                    <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                  </svg>
                {{ cliente.clienteNome }}
            </a>
        </h4>
        <h2 class="border-bottom text-info">
            <a class="card-link">
            </a>
		</h2>
        <h2 class="border-bottom  text-info">
            <a class="card-link">
            </a>
		</h2>
        <h5>Administradora: {{ cliente.clienteAdministradora }}</h5>
        <h5>Gerência: {{ cliente.clienteAdministrador }}</h5>
        <h5>Cidade: {{ cliente.clienteCidade }}</h5>
        <h5>Estado: {{ cliente.cidadeEstado }}</h5>
        </h4>
    </div>
    </section>
    <br>
    <div>
        <h4 class="border-bottom" style="color: purple">
            <strong>Tipos de Sistemas</strong>
        </h4>
        <h2 class="border-bottom   text-info">
            <a class="card-link">
            </a>
		</h2>

            <h6>CFTV:{{ cliente.clienteCftv }}</h6>
            <h6>SAI:{{ cliente.clienteSai }}</h6>
			<h6>SCA:{{ cliente.clienteSca }}</h6>
            <h6>SAP:{{ cliente.clienteSap }}</h6>
            <h6>SDAI:{{ cliente.clienteSdai }}</h6>

        <br>
        <h5 class="border-bottom" style="color: purple">
            <strong>Anotações:</strong>
        </h5>
        <p>
            {{ cliente.clienteObservacao }}
        </p>
        
    </div>
    <br><br>


{% endblock %}
