{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
	<section>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th><h5>Equipamento</h5></th>
					<th><h5>Sistema</h5></th>
					<th><h5>Login</h5></th>
					<th><h5>Senha</h5></th>
					<th><h5>QrCode</h5></th>
					<th><h5>Opções</h5></th>


				</tr>
			</thead>
			<tbody>
			{% for equipamento in equipamento %}
				<tr>
					<td><h5>{{ equipamento.equipamento }}</h5></td>
					<td><h5>{{ equipamento.equipamentoSistema }}</h5></td>
					<td><h5>{{ equipamento.equipamentoLogin }}</h5></td>
					<td><h5>{{ equipamento.equipamentoPassword }}</h5></td>
					<td><h5>{{ equipamento.equipamentoQrCode }}</h5></td>
<!--					<td><a href="/clienteEquipamentosInformacoes/?id={{ cliente.id }}">Mais</td>-->
					<td><a href="/clienteEquipamentosInformacoes/?id={{ equipamento.id }}"><h5> Mais</h5></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>







	</section>
</div>
{% endblock %}
