{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
		<br>
		<section>
		<div>
			<h2 class="border-bottom  border-info text-info">
			  <a class="font-weight-bold  ">
				  <h2>Quantidade de equipamentos cadastrados</h2>
			  </a>
			</h2>
		</div>
		<div class="card-deck">
			<div class="card rounded bg-primary text-white border-0 shadow">
				<div class="card-body ">
					<h4 class="card-title" align="center">CFTV</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_cftv }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-secondary text-white border-0 shadow">
				<div class="card-body" align="center">
					<h4 class="card-title" align="center">SAI</h4>
					<h4 class="card-title" align=""><strong>{{ qnt_equi_sai }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-success text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SAP</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sap }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-warning text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SCA</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sca }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-danger text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SDAI</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sdai }}</strong></h4>
				</div>
			</div>
		</div>
	</section>
	<br>
	<br>

</div>
{% endblock %}