{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
		<br>
	<!-- ********************************************************************************************** -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<!-- ********************************************************************************************** -->
		<section>
		<div>
			<h2 class="border-bottom  border-info text-info">
			  <a class="font-weight-bold  ">
				  <h2>Quantidade de equipamentos cadastrados</h2>
			  </a>
			</h2>
		</div>
		<div class="card-deck">
			<div class="card rounded bg-primary text-white border-0 shadow">
				<div class="card-body ">
					<h4 class="card-title" align="center">CFTV</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_cftv }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-secondary text-white border-0 shadow">
				<div class="card-body" align="center">
					<h4 class="card-title" align="center">SAI</h4>
					<h4 class="card-title" align=""><strong>{{ qnt_equi_sai }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-success text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SCA</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sca }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-warning text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SAP</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sap }}</strong></h4>
				</div>
			</div>
			<div class="card rounded bg-danger text-white border-0 shadow">
				<div class="card-body">
					<h4 class="card-title" align="center">SDAI</h4>
					<h4 class="card-title" align="center"><strong>{{ qnt_equi_sdai }}</strong></h4>
				</div>
			</div>
		</div>
	</section>
<!-- ********************************************************************************************** -->
	<br>
	<section>
		<div class="card-deck">
			<div class="card border-0 card rounded">
				<div>
					<h2 class="border-bottom  border-info text-info">
					  <a class="font-weight-bold  ">
						  <h2>Manuais</h2>
					  </a>
					</h2>
				</div>
				<div>
					<canvas id="quantidadeManuais" width="400" height="250"></canvas>
						<script>
							var ctxy = document.getElementById('quantidadeManuais').getContext('2d');
							var myDoughnutChart = new Chart(ctxy, {
								// The type of chart we want to create
								type: 'pie',

								// The data for our dataset
								data: {
									labels: ['CFTV', 'SAI', 'SAP', 'SCA', 'SDAI'],
									datasets: [{
										label: 'Equipamentos nos clientes',
										backgroundColor: '',
										borderColor: 'white',
										data: [{{ qnt_man_cftv }},{{ qnt_man_sai }}, {{ qnt_man_sap }}, {{ qnt_man_sca }}, {{ qnt_man_sdai }}],

										backgroundColor: [
										'rgba(0,0,255)',
										'rgba(79,79,79)',
										'rgba(0,128,0)',
										'rgba(255,215,0)',
										'rgba(255,0,0)'
										],
									}]
								},
								// Configuration options go here
								options: {}
							});
					</script>
				</div>
			</div>
			<div class="card border-0">
				<div>
					<h2 class="border-bottom  border-info text-info">
					  <a class="font-weight-bold  ">
						  <h2>Clientes</h2>
					  </a>
					</h2>
				</div>
				<div class="card-body border-0">
					<canvas id="quantidadeClientes" width="400" height="250"></canvas>
					<script>
						var ctxy = document.getElementById('quantidadeClientes').getContext('2d');
						var myDoughnutChart = new Chart(ctxy, {
							// The type of chart we want to create
							type: 'polarArea',

							// The data for our dataset
							data: {
								labels: ['CBRE', 'Cyrela', 'Saphyr', 'iguatemi', 'BBZ'],

								datasets: [{
									label: 'Equipamentos nos clientes',
									backgroundColor: '',
									borderColor: 'white',
									data: [{{ qnt_cbre }}, {{ qnt_ccp }} , {{ qnt_saphyr }}, {{ qnt_iguatemi }}, {{ qnt_bbz }}, ],

									backgroundColor: [
									'rgba(0,128,0)',
									'rgba(70,130,180)',
									'rgba(75,0,130)',
									'rgba(25,25,112)'
            						],
								}]
							},
							// Configuration options go here
							options: {}
						});
					</script>
				</div>
			</div>
		</div>
	</section>
<!-- ********************************************************************************************** -->
	<br>
	<section>
	<div class="card-deck">
		<div class="card border-0">
			<div>
				<h2 class="border-bottom  border-info text-info">
				  <a class="font-weight-bold  ">
					  <h2>Equipamentos por Cliente</h2>
				  </a>
				</h2>
			</div>
			<div class="card-body border-0" align="center">

				<canvas id="myChart" width="400" height="200"></canvas>
					<script>
						var ctx = document.getElementById('myChart').getContext('2d');
						var chart = new Chart(ctx, {
							// The type of chart we want to create
							type: 'bar',
							// The data for our dataset
							data: {
								labels: ['ATRIUM VII',
									'BIRMANN 31',
									'CAPITAL CENTER',
									'E-TOWER',
									'EENU',
									'HL FARIA LIMA',
									'JARDIM PAMPLONA',
									'JK 360',
									'MORUMBI PLAZA',
									'PAULISTA 1100',
									'PINACOTECA',
									'SHOPPING GRAND PLAZA',
									'SHOPPING GRANJA VIANNA',
									'SHOPPING IGUATEMI ALPHAVILLE',
									'SKY CORPORATE',
									'VISTA FARIA LIMA',
									'WORK BELA CINTRA'],
								datasets: [{
									label: 'Equipamentos nos clientes',
									backgroundColor: 'rgb(0,0,128)',
									borderColor: 'rgb(0,0,128)',
									data: [{{ atrium_VII }},
										{{ birmann31 }},
										{{ capitalCenter }},
										{{ eTower }},
										{{ eenu }},
										{{ hlFariaLima }},
										{{ jardimPamplonaShopping }},
										{{ jk360 }},
										{{ morumbiPlaza }},
									    {{ paulista1100 }},
									    {{ pinacoteca }},
										{{ shoppingGrandPlaza }},
										{{ shoppingGranjaViana }},
									    {{ iguatemiAlphaville }},
									    {{ skyCorporate }},
										{{ vistaFariaLima }},
									    {{ workBelaCintra }}]
								}]
							},
							// Configuration options go here
							options: {}
						});
					</script>
		</div>
	</div>
</section>
<br>
<br>
<!-- ********************************************************************************************** -->
</div>
{% endblock %}