<div class="container-xl">
	<section>
		 <h2 class="border-bottom text-info">
            <a class="card-link">
                <h3 style="color: purple">Senhas Padronizadas</h3>
            </a>
		 </h2>
		<h2 class="border-bottom  border text-info">
            <a class="card-link">
            </a>
		 </h2>


		<div class="row">
		  <div class="col-sm-6">
			<div class="cards">
			  <div class="card-body">

				<p class="card-text">
					Alguns fabricantes de equipamentos eletrônicos possuem uma senha padrão de fábrica,
					na hora de realizar as configurações inicias, são elas que os técnicos utilizam
					para ter acesso as opções para configura-los.
				</p>

			  </div>
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="cards">
			  <div class="card-bodys">
				<h5 class="card-title" style="color: #825280">Exemplos de senhas padronizadas</h5>
				<p class="card-texts">
					<strong>Intelbras</strong>  |  Login: admin - senha: admin
					<br>
					<strong>Schineider</strong>  |  Login: Administrator - senha: Gateway
					<br>

					<div align="right" style="color: purple">
						<h6><a href="/senhasPadroes/" style="color: purple">+ ver mais</a></h6>
			  		</div>
				</p>

			  </div>
			</div>
		  </div>
		</div>
	</section>
</div>