
{% extends "base.html" %}

{% block content %}
<div class="container">
    <br><br>
    <div align="center">
        <h1>Sistema em Construção</h1>
    </div>

    <div align="center">
        <h5>O sistema estará passando por  constante atualizações</h5>
    </div>
    <br><br>


	<!-- ********************************************************************************************** -->
	<!--    Sessão de Manuais -->
	<section id="MANUAIS">
		<div class="container">
		  <h2 class="border-bottom  border-info text-info">
            <a class="font-weight-bold  ">
                <h2>Manuais</h2>
            </a>
		  </h2>
		</div>

		<div class="card-group border-0" align="center">
			<div class="card border-0">
				<div class="card border-0">
					<div class="img_manuais">
                        <a class="btn btn-outline-info" href="/manuaisFabricantes/" role="button">
                            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                              </svg>
                              <h3>Manuais Fabricantes</h3>
                        </a>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card border-0">
					<div class="img_manuais">
                        <a class="btn btn-outline-info" href="/manuaisPreventivas/" role="button">
                            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                              </svg>
                              <h3>Manuais Preventivas</h3>
                        </a>
					</div>
				</div>
			</div>
			<div class="card border-0">
				<div class="card border-0">
					<div class="img_manuais">
                        <a class="btn btn-outline-info" href="/manuaisInternos/" role="button">
                            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                              </svg>
                              <h3>Manuais Internos</h3>
                        </a>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br><br>
	<!-- ********************************************************************************************** -->
	<!-- ********************************************************************************************** -->
	<!-- Sessão onde fica as opçoes de Artigos e Fórum -->
	<section>
		<div class=" container card-deck">
			<div class="card shadow p-3 border-0">
				<h4 class="card border-0">
					<strong>
						<i class='fas fa-folder-open ' style='font-size:36px'></i>
						&ensp;Artigos
					</strong></h4>
				<div class="card-body">
				<h4 class="card-text">{{artigo.tituloartigo}}</h4>
				<a href="/artigosVisualizacao/?id={{ artigo.id }}">
					<h6>{{ artigo.subtituloartigo}}</h6>
				</a>
					<div align="right">
						<h5><a href="/artigos/">Ver +</a></h5>
					</div>
				</div>
			</div>
			<div class="card shadow p-3 border-0">
				<h4 class="card border-0">
					<strong>
						<i class='fas fa-chalkboard-teacher' style='font-size:36px'></i>
						&ensp;Fórum
					</strong>
				</h4>
				<div class="card-body">
					<a href="/forumRespostas/?id={{ perguntaForum.id }}">
					<h5 class="card-text">{{perguntaForum.perguntaForum}}</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
	<br><br>
	<!-- ********************************************************************************************** -->



    </div>
{% endblock %}
