
{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container-xl">
	<section>
		<br><br>
		<div align="center">
			<h1>Sistema em Construção</h1>
		</div>

		<div align="center">
			<h5>O sistema estará passando por  constantes atualizações</h5>
		</div>
		<br><br>
	</section>
	<!-- ********************************************************************************************** -->
	<section>
		<!DOCTYPE html>
		<html lang="en">

		<head>
			<meta charset="utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Page Title</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
			<style>
				.owl-carousel .item img{
					width: 140px;
					height: 140px;
				}
			</style>
		</head>

		<body>

			<div class="owl-carousel owl-theme">
				<div class="item">
					<a href="#" title="">
						<img src="{% static "https://adscloud.s3.us-east-2.amazonaws.com/imgIndex/fb_01.png" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#" title="">
						<img src="{% static "https://adscloud.s3.us-east-2.amazonaws.com/imgIndex/fb_02.png" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#" title="">
						<img src="{% static "img/fabricantes/fb_03.png" %}" alt="">
					</a>
				</div>

				<div class="item">
					<a href="#" title="">
						<img src="{% static "img/fabricantes/fb_05.png" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#" title="">
						<img src="{% static "img/fabricantes/fb_06.png" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#" title="">
						<img src="{% static "img/fabricantes/fb_07.png" %}" alt="">
					</a>
				</div>

			</div>

			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

			<script>
				$('.owl-carousel').owlCarousel({
					nav: true,
					loop: true, //deixa ele rodando eternament
					margin: 10, // distancia entre imgs
					autoplay: true, // fica rodando sozinho
					autoplayTimeout: 1500, // tempo em que gira e para trocando imgsr
					responsive: {
						0: {
							items: 2 // 2 img em telas até 767px
						},
						768: {
							items: 3 // 3 img em telas maiores que 768px
						},
						992: {
							items: 5 // 5 img em telas maiores que 992px
						}
					}
				})
			</script>
		</body>
	</section>
	<!-- ********************************************************************************************** -->
	<!-- ********************************************************************************************** -->
	<!-- ********************************************************************************************** -->
	<section>
		<h2 class="border-bottom  border-info text-info">
            <a class="card-link">
                <h2>Manuais</h2>
            </a>
		  </h2>
		<h2 class="border-bottom  border-info text-info">
            <a class="card-link">
            </a>
		</h2>
		<div class="card-group">
			<div class="card">
        		<div class="card-body">
		    		<div class="img_manuais" align="center">
					<h3>Fabricantes</h3>
                    <a class="btn btn-outline-info" href="/manuaisFabricantes/" role="button">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                        </svg>
                    </a>
				</div>
		   </div>
		</div>
		<div class="card">
      		<div class="card-body">
      			<div class="img_manuais" align="center">
		  			<h3>
		    			Preventivas
					</h3>
						<a class="btn btn-outline-info" href="/manuaisPreventivas/" role="button">
							<svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
							</svg>
						</a>
				</div>
			</div>
		</div>
		<div class="card">
		 	<div class="card-body">
				 <div class="img_manuais" align="center">
					<h3>
						Internos
					</h3>
						<a class="btn btn-outline-info" href="#" role="button">
							<svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6 8.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
							</svg>	
						</a>
				 	</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ********************************************************************************************** -->
	<!-- ********************************************************************************************** -->
	<!-- ********************************************************************************************** -->
	<section>
		 <h2 class="border-bottom  border-info text-info">
            <a class="card-link">
                <h2>Artigos</h2>
            </a>
		 </h2>
		<h2 class="border-bottom  border-info text-info">
            <a class="card-link">
            </a>
		 </h2>
		<div class="card" style=>
			<div class="card-body">
				{% for artigo in artigo %}
				<h2 class="border-bottom  border-info text-info">
					<a class="card-link">
					</a>
				</h2>
				<h5 class="card-title">
					<a href="/artigoVisualizacao/?id={{ artigo.id }}" class="card-link">{{ artigo.artigoTitulo }}</a>
				</h5>
				<h5>
					<a href="/artigoVisualizacao/?id={{ artigo.id }}" class="card-subtitle mb-2 text-muted">{{ artigo.artigoSubtitulo }}</a>
					<h6 class=""></h6>
				</h5>
				<br>
				{% endfor %}
				<h2 class="border-bottom  border-info text-info">
					<a class="card-link">
					</a>
				</h2>
				<div align="right">
					<h5><a href="/artigos/">Ver +</a></h5>
				</div>
			</div>
		</div>
	</section>
	<br><br>
	<!-- ********************************************************************************************** -->
	<br><br>
	<!-- ********************************************************************************************** -->
</div>
{% endblock %}