{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
	<br>
	<section id="BOTOES_FILTRO">
        <form method="GET">
            <div class="row">
                <div class="form-group col-10">
					<input type="search" class="form-control"
						   placeholder="Informe o manual, fabricante ou descrição"
						   name="q" value="{{ request.GET.q }}">
                </div>
                <div class="form-group col-2">
                    <button class=" form-control btn-success">Pesquisar</button>
				</div>

            </div>
        </form>
    </section>
	<section>

        <h2>Lista das Manutenções Preventivas</h2>
        <br>
    </section>


	<section>
		<table class="table">
		   <thead class="thead-dark">
			   <tr>
				   <th>ID</th>
				   <th>Equipamento</th>
				   <th>Tipo de Sistema</th>
				   <th>Tempo Execução</th>
				   <th>+ Mais</th>
			   </tr>
			</thead>
			<tbody >
				{% for preventiva in manualPreventiva %}
				<tr class="shadow-lg p-3 mb-5 bg-white rounded ">
					<th>{{ preventiva.id }}</th>
					<th >{{ preventiva.preventivaEquipamento }}</th>
					<th >{{ preventiva.manualSistema }}</th>
					<th>{{ preventiva.preventivaTempo }} Min</th>
					<th><a href="/manuaisPreventivasInformacoes/?id={{ preventiva.id }}" class="btn btn-primary">+ Infor</a></th>
				</tr>
			</tbody>
		{% endfor%}
		</table>
	</section>
</div>
{% endblock %}s
