{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
    <section>
        <br>
           <h3 style="color: purple;">Detalhes dos Procedimentos para as Preventivas</h3>
        <br>
        <h4 style="color: purple;">{{ preventiva.preventivaEquipamento }}</h4>
        <br>
        <h5>
            <p><b>Tempo de Execução:</b> {{ preventiva.preventivaTempo }} Minutos </p>

            <p><b>Sistema:</b> {{ preventiva.manualSistema }} </p>
            <br>
        </h5>
        <p><b>Procedimentos:</b> {{ preventiva.preventivaProcedimento | safe }} </p>
        <br><br>
    </section>
</div>
{% endblock %}s
