{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">

	<section>
        <br>
        <h2>Lista das Manutenções Preventivas</h2>
        <br>
    </section>
<!--		<section>-->
<!--		<div class="col-md-12">-->
<!--			<div align="right" >-->
<!--			  <a class="btn btn-primary" href="/manuaisFabricantesCreate/" role="button">Novo Manual</a>-->
<!--			</div>-->
<!--		</div>-->

<!--	</section>-->

	<section>
		<table class="table">
		   <thead class="thead-dark">
			   <tr>
				   <th>ID</th>
				   <th>Equipamento</th>
				   <th>Tipo de Sistema</th>
				   <th>Tempo Execução</th>
				   <th>+ Mais</th>
			   </tr>
			</thead>
			<tbody >
				{% for preventiva in manualPreventiva %}
				<tr class="shadow-lg p-3 mb-5 bg-white rounded ">
					<th>{{ preventiva.id }}</th>
					<th >{{ preventiva.preventivaEquipamento }}</th>
					<th >{{ preventiva.manualSistema }}</th>
					<th>{{ preventiva.preventivaTempo }} Min</th>
					<th><a href="/manuaisPreventivasInformacoes/?id={{ preventiva.id }}" class="btn btn-primary">+ Infor</a></th>
				</tr>
			</tbody>
		{% endfor%}
		</table>
	</section>
</div>
{% endblock %}s
