{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">

    <h2>Detalhes das Preventivas</h2>

    <h2 class="font-weight-bolder">ID: {{ preventiva.id }}</h2>
    <h4>
       <p><b>Dispositivo:</b> {{ preventiva.preventivaEquipamento }} </p>
        <p><b>Tempo de Execução:</b> {{ preventiva.preventivaTempo }} Minutos </p>
        <p><b>Sistema:</b> {{ preventiva.manualSistema }} </p>
        <p><b>Procedimentos:</b> {{ preventiva.preventivaProcedimento | safe }} </p>
    </h4>
    <br><br>
</div>
{% endblock %}s
