{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
	<br>
	<section>
        <form method="GET">
            <div class="row">
                <div class="form-group col-11">
					<input type="search" class="form-control"
						   placeholder="Informe o equipamento"
						   name="q" value="{{ request.GET.q }}">
                </div>
                <div class="form-group">
                    <button class=" form-control btn-success">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
						  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
						</svg>
					</button>
				</div>

            </div>
        </form>
    </section>
	<section>
        <h4>Lista das Manutenções Preventivas</h4>
        <br>
    </section>


	<section>
	<div class="table-responsive-xl">
		<table class="table">
		   <thead class="thead-dark">
			   <tr>
				   <th>ID</th>
				   <th>Equipamento</th>
				   <th>Sistema</th>
				   <th>Tempo</th>
				   <th>Opções</th>
			   </tr>
			</thead>
			<tbody >
				{% for preventiva in manualPreventiva %}
				<tr class="shadow-lg p-3 mb-5 bg-white rounded ">
					<td>{{ preventiva.id }}</td>
					<td>{{ preventiva.preventivaEquipamento }}</td>
					<td>{{ preventiva.manualSistema }}</td>
					<td>{{ preventiva.preventivaTempo }} Min</td>
					<td><a href="/manuaisPreventivasInformacoes/?id={{ preventiva.id }}" class="btn btn-primary">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
						</svg>

						</a></td>
				</tr>
			</tbody>
		{% endfor%}
		</table>
	</div>
	</section>
</div>
{% endblock %}s
