{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
    <section>
        <br>
           <h2>Detalhes dos Procedimentos para as Preventivas</h2>
        <br>
        <h1>{{ preventiva.preventivaEquipamento }}</h1>>
        <h4>
            <p><b>Tempo de Execução:</b> {{ preventiva.preventivaTempo }} Minutos </p>
            <p><b>Sistema:</b> {{ preventiva.manualSistema }} </p>
            <p><b>Procedimentos:</b> {{ preventiva.preventivaProcedimento | safe }} </p>
        </h4>
        <br><br>
    </section>
</div>
{% endblock %}s
