{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
	<section>
		<br>
		<h3>Iguatemi Ribeirão Preto</h3>
		<br>
	</section>
		<section>
		{% include "scirpMenu.html" %}
	</section>
	<section>
		 <table class="table table-striped">
			<thead style="background-color: purple;color: white;">
				<th>Câmera</th>
				<th>IP</th>
		  		<th>Fabricante</th>
			</thead>
			{% for camera in camerasScirp %}
				<tbody>
					<td>{{ camera.nomeCamera }}</td>
					<td>{{ camera.numeroIp }}</td>
					<td>{{ camera.fabricanteCamera }}</td>
					</tbody>
			{% endfor %}
		 </table>
	<section>
</div>
{% endblock %}








