{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-xl">
	<section>
		<br>
		<h1>Iguatemi Ribeirão Preto</h1>
		<br>
	</section>
	<section>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item" role="presentation">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: purple">Automação</a>
		  </li>
		  <li class="nav-item" role="presentation">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: purple">CFTV</a>
		  </li>
		  <li class="nav-item" role="presentation">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color: purple">Alarme de Incêndio</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<!--
---------------------------------------------------------------------------------------------
	Inicio dos conteúdos de SAP
---------------------------------------------------------------------------------------------
-->
		  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<section>
				<div class="table-responsive-xl">
					  <table class="table table-striped">
					<thead style="background-color: purple;color: white;">
						<th>Quadro</th>
						<th>Gerenciadora</th>
						<th>Status</th>

					</thead>
					{% for control in controladoras %}
						<tbody>
							<td>{{ control.quadroSap }}</td>
							<td>{{ control.gerenciadora }}</td>
							<td>{{ control.statusSap }}</td>

						</tbody>
					{% endfor %}
					</table>
				</div>

				</section>
		  </div>
			<!--
---------------------------------------------------------------------------------------------
	Inicio dos conteúdos de CFTV
---------------------------------------------------------------------------------------------
-->
		  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
			<!--
---------------------------------------------------------------------------------------------
	Inicio dos conteúdos de SDAI
---------------------------------------------------------------------------------------------
-->
		  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
		</div>
	</section>

</div>
{% endblock %}
