{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-xl">
	<section>
		<br>
		<h3>Iguatemi Ribeirão Preto</h3>
	</button>
		<br>
	</section>
	<section>
		{% include "scirpMenu.html" %}
	</section>
	<section>
		<div>
			<h5>Quadros de Iluminação</h5>
		</div>
		<!-- ********************************************************************************************** -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<!-- ********************************************************************************************** -->
		<div>
			<canvas id="quantidadeManuais" width="700" height="250"></canvas>
				<script>
					var ctxy = document.getElementById('quantidadeManuais').getContext('2d');
					var myDoughnutChart = new Chart(ctxy, {
					// The type of chart we want to create
					type: 'pie',

						// The data for our dataset
							data: {
								labels: ['Online', 'Offline'],
								datasets: [{
									label: 'Equipamentos nos clientes',
									backgroundColor: '',
									borderColor: 'white',
									data: [{{ qnt_online }},{{ qnt_offline }}],

									backgroundColor: [
									'rgba(46, 204, 113)',
									'rgba(231, 76, 60)',
									],
								}]
							},
							// Configuration options go here
							options: {}
						});
				</script>
			</div>



			</section>
			  <br>
			  <br>
			<section>
				<div>
					<h5>Relação dos Quadros de Iluminação</h5>
				</div>
			</section><br>
<!--	Controladoras Online-->
	<section>
		<div class="table-responsive-xl">
		  <table class="table table-striped">
			<thead style="background-color: purple;color: white;">
				<tr>
					<th scope="col">Iluminação</th>
					<th scope="col">Controladora</th>
					<th scope="col">Gerenciadora</th>
					<th scope="col">Status</th>
					<th scope="col">DataFalha</th>
					<th scope="col">Opções</th>
				</tr>
				</thead>
				{% for control in controladorasON %}
					{% if statusSap == Online %}
							<tbody style="background-color: purple;color: green;">
							<tr class="shadow-lg p-3 mb-5 bg-white rounded " >
								<td>{{ control.quadroIluminacao }}</td>
								<td>{{ control.quadroSap }}</td>
								<td>{{ control.gerenciadora }}</td>
								<td>{{ control.statusSap }}</td>
								<td>{{ control.atualizacao }}</td>
								<td>
									<div align="right">
										<button class="btn" style="background-color: purple; color: white;">
										   <a href="/scirpSapUpdate/{{ control.id }}">Editar</a>
									  </button>
									</div>
								</td>
								</tr>
						</tbody>

			  		{% else %}
			  	<tbody style="background-color: purple;color: green;">
							<tr class="shadow-lg p-3 mb-5 bg-white rounded " >
								<td>{{ control.quadroIluminacao }}</td>
								<td>{{ control.quadroSap }}</td>
								<td>{{ control.gerenciadora }}</td>
								<td>{{ control.statusSap }}</td>
								<td>{{ control.atualizacao }}</td>
								<td>
									<div align="right">
										<button class="btn" style="background-color: purple; color: white;">
										   <a href="/scirpSapUpdate/{{ control.id }}">Editar</a>
									  </button>
									</div>
								</td>
								</tr>
						</tbody>
			  		{% endif%}
			  	{% endfor %}
		   </table>
		</div>
	</section>
	<!--	Controladoras Online-->
	<section>
		<div>
			<br>
			<h4>Controladoras Offline</h4>
		</div>
	</section>

	<section>
		<div class="table-responsive-xl">
		  <table class="table table-striped">
			<thead style="background-color: purple;color: white;">
				<th>Iluminação</th>
				<th>Controladora</th>
				<th>Gerenciadora</th>
				<th>Status</th>
				<th>DataFalha</th>
				<th>Opções</th>

				</thead>
				{% for control in controladorasOff %}
					<tbody>
						<td>{{ control.quadroIluminacao }}</td>
						<td>{{ control.quadroSap }}</td>
						<td>{{ control.gerenciadora }}</td>
						<td>{{ control.statusSap }}</td>
						<td>{{ control.atualizacao }}</td>
						<td>
							<div align="right">
								<button class="btn" style="background-color: purple; color: white;">
								   <a href="/scirpSapUpdate/{{ control.id }}">Editar</a>
							  </button>
							</div>
						</td>
					</tbody>
					{% endfor %}
		   </table>
		</div>
	</section>

	</section>
</div>
{% endblock %}
