{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xl">
    <section>
        <br>
        <h2>Senhas Padrões dos Fabricantes</h2>
        <br>
    </section>
	<section>
    <div class="table-responsive-xl">
		  <table class="table">
        <thead class="thead-dark">
            <th>Fabricante</th>
            <th>Equipamento</th>
            <th>Login</th>
            <th>Senhas</th>
        </thead>
        {% for senha in senha %}
            <tbody>
                <td>{{ senha.senhaFabricante }}</td>
                <td>{{ senha.senhaEquipamento }}</td>
                <td>{{ senha.senhaLogin }}</td>
                <td>{{ senha.senhaPassword }}</td>
            </tbody>
        {% endfor %}
        </table>
    </div>

	</section>
</div>
{% endblock %}
