{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
   <h2><strong>Branch</strong> {{ wework.wework }}</h2>
    <hr>
    <hr>
    <p><b>Painel SDAI:</b> {{ wework.weworkSdai }}</p>
    <p><b>Quant. Andares:</b> {{ wework.weworkQuantAndares }}</p>
    <p><b>Andares:</b> {{ wework.weworkAndares }}</p>
    <p><b>Comdominio:</b> {{ wework.weworkCondominio }}</p>
    <p><b>Cidade:</b> {{ wework.cidadewework }}</p>
    <p><b>Estado:</b> {{ wework.ufwework }}</p>
 </div>
{% endblock %}
