{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-xl">
  <br><br>
   <h3 style="color: purple"><strong>Branch</strong> {{ wework.wework }}</h3>
    <hr>
    <hr>
    <p><b>Painel SDAI:</b> {{ wework.weworkSdai }}</p>
    <p><b>Quant. Andares:</b> {{ wework.weworkQuantAndares }}</p>
    <p><b>Andares:</b> {{ wework.weworkAndares }}</p>
    <p><b>Comdominio:</b> {{ wework.weworkCondominio }}</p>
    <p><b>Cidade:</b> {{ wework.clienteCidade }}</p>
    <p><b>Estado:</b> {{ wework.clienteCidade.cidadeEstado }}</p>
 </div>
{% endblock %}
