{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="container-xl">
    <section>
          {% if request.user.is_authenticated %}

            <div align="center" style="color: red"><br>
            <h5>Ops, ação não permitida!!!</h5>
                <a>Este usuário não está habilitado para está ação.</a>
                <br>
                <a>Entre em contato com o administrador do sistema!!!</a>

                <hr>
            </div>
        {% endif %}
    </section>
	<section>
		<div align="center">
            <br>
		<h2>Autenticação</h2>
            <hr><hr>
		<br>
        </div>
	</section>
	<section>
		<form action="" method="POST">{% csrf_token %}
<!--             {{ form }}-->
            <div align="center">
                <div>
                <h5>Usuário: </h5>
                {{ form.username }}
                </div>
                <div>
                    <h5>Senha: </h5>
                    {{ form.password }}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mt-3">Entrar</button>
                </div>
            </div>
        </form>
	</section>
    <br><br>
</div>
{% endblock %}
